<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
    <NoBreaksDuringRaids>No Breaks During Raids</NoBreaksDuringRaids>
    <NBDR.EnableHome>Enable mod in home settlements</NBDR.EnableHome>
    <NBDR.PawnsNeverBreakOutside>Pawns never break when raiding (even when there are no standing enemies left on the map)</NBDR.PawnsNeverBreakOutside>
    <NBDR.EnemyPawnsAffected>Enemy pawns are affected by this mod</NBDR.EnemyPawnsAffected>
</LanguageData>
